target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/.idea/
/**/.gitattributes
/recommend-webflux/.gitignore
/player-tomcat/mvnw
/player-tomcat/mvnw.cmd
/player-tomcat/.gitignore
/player-tomcat/HELP.md
/spring-gateway/.gitignore
/spring-gateway/mvnw
/spring-gateway/mvnw.cmd
/my-gateway/.mvn/wrapper/maven-wrapper.properties
/my-gateway/mvnw
/my-gateway/mvnw.cmd
/playlist-jetty-boot/.mvn/wrapper/maven-wrapper.properties
/playlist-jetty-boot/mvnw
/playlist-jetty-boot/mvnw.cmd
/playlist-jetty-boot/.gitignore
